@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
}
a {
  text-decoration: none;
}
a:-webkit-any-link {
  cursor: pointer;
}
label.logo {
  color: white;
  font-size: 24px;
  line-height: 93px;
  padding-left: 20px;
  cursor: pointer;
}
.font {
  font-family: "sats-bold",sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0px;
}
.nav-color {
  background: rgb(29, 29, 29);
}
.nav-top {
  width: 100%;
  height: 93px;
  display: block;
}
.nav-top ul {
  float: right;
  margin-right: 20px;
  z-index: 1000;
  display: block;
}
.nav-top ul li {
  display: inline-block;
  line-height: 93px;;
  padding: 0;
  margin: 0;
}

.nav-top ul li a {
  display: block;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 93px;
  padding: 0px 30px;
  font-family: "sats-bold",sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nav-top ul li:hover {
  background-color: rgb(46, 46, 46);
}
.nav-checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 93px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
  color: white;
}
.nav-hbmenu {
  display: none;
  float: right;
  line-height: 93px;
  margin: 2em;
}

.nav-logo-font{
  cursor: pointer;
  color: white;

  font-family: "sats-bold",sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0px;

  font-size: 24px;
  line-height: 93px;
  padding-left: 20px;
}
.nav-logo-font:hover {
  color: antiquewhite;
}


@media (max-width: 858px) {
.nav-hbmenu {
  display: block;
}
.nav-checkbtn {
  display: block;
}
.nav-top {
  position: fixed;
  top: 0px;
  z-index: 1001;
}
.nav-top ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(29, 29, 29, 0.877);
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all, .5s;
}
.nav-top ul li {
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
.nav-top ul li a {
  font-size: 20px;
}
section:first-of-type  {
  margin-top: 93px;
}
a:hover, a:active {
  background: none;
  color: #0082e6;
}
#check:checked ~ ul {
  left: 0;
}

}
