.Services-set-hours-btn{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border-width: 1em;
    display: inline-block;
}

.Services-add-hour{
    border-color:rgb(44, 189, 44);
}

.Services-remove-hour{
    border-color:red;
}

.Services-hour-cost{
    display: inline-block;
    padding: 1.2em;
    border-style: solid;
    border-radius: 2em;
    border-width: 0.2em;
    display: inline-block;

    border-color: rgb(83, 83, 83);

    margin: 2em;
}
.background-image {
    padding: 0;
    margin: 0;
    background-image: url(../../img/mb-lg.jpg);
    background-color: #cccccc;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-overlap-text {
    padding: 20px 40px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.26);
}


@media only screen and (max-width: 1100px) {
    .background-image {
        background-position: top left;
        height: 450px;
        
    }
}